---
---

.site-header {
  background-color: red !important;
  border-bottom: none !important;
}

.site-title {
  color: white !important;
  font-weight: 600;
  font-size: 1.35rem;
}

.site-nav a {
  color: white !important;
}
