/* HEADER COLOUR */
.site-header {
  background-color: #2f5d8a !important;
  border-bottom: none !important;
}

/* TITLE */
.site-title {
  color: white !important;
  font-weight: 600;
  font-size: 1.35rem;
}

/* NAV LINKS */
.site-nav a {
  color: white !important;
}
